<h1>Add a New ETF Fund</h1>

Name: <input [(ngModel)]="name" />
<hr />
Ticker: <input [(ngModel)]="ticker" />
<hr />
Asset class: <input [(ngModel)]="asset_class" />
<hr />
Risk level: <input [(ngModel)]="risk_level" />
<hr />
Expense ratio: <input [(ngModel)]="expense_ratio" />
<br />
Investment min: <input [(ngModel)]="investment_min" />
<br />
Price: <input [(ngModel)]="price" />
<br />
Change price: <input [(ngModel)]="change_price" />
<br />
Summary: <input [(ngModel)]="summary" />
<br />
<button (click)="add()">Add Fund</button>
