<h1 mat-dialog-title><strong>New ETF Fund</strong></h1>
<mat-dialog-component [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="name"
      placeholder="ETF Name"
      formControlName="name"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="ticker"
      placeholder="Ticker"
      formControlName="ticker"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="asset_class"
      placeholder="Asset Class"
      formControlName="asset_class"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="risk_level"
      placeholder="Risk Level"
      formControlName="risk_level"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="expense_ratio"
      placeholder="Expense Ratio"
      formControlName="expense_ratio"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="investment_min"
      placeholder="Investment Minimum"
      formControlName="investment_min"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="price"
      placeholder="Price"
      formControlName="price"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="change_price"
      placeholder="Change Price"
      formControlName="change_price"
    />
  </mat-form-field>
  <br />
</mat-dialog-component>

<!-- Name: <input [(ngModel)]="name" />
<hr />
Ticker: <input [(ngModel)]="ticker" />
<hr />
Asset class: <input [(ngModel)]="asset_class" />
<hr />
Risk level: <input [(ngModel)]="risk_level" />
<hr />
Expense ratio: <input [(ngModel)]="expense_ratio" />
<br />
Investment min: <input [(ngModel)]="investment_min" />
<br />
Price: <input [(ngModel)]="price" />
<br />
Change price: <input [(ngModel)]="change_price" />
<br />
Summary: <input [(ngModel)]="summary" />
<br /> -->

<mat-dialog-actions>
  <button mat-button class="mat-raised-button" color="grey" (click)="add()">
    Add ETF Fund
  </button>
</mat-dialog-actions>
