<h1>Add a New ETF Fund</h1>
<p>freiogvnroeigjvreiojgerg</p>
<!-- <div class="row">
    <div class="col-sm-4" *ngFor="let fund of funds">
      <div class="card-body">
        <a [routerLink]="['/funds', fund.id]"> {{ fund.name }}</a>
        <p class="card-text">
          {{ fund.summary }}
        </p>
        <button (click)="edit(fund.id)">Edit Fund</button>
        <button (click)="delete(fund)">Delete Fund</button>
      </div>
      <hr />
    </div>
  </div>
  <button (click)="add(fund)">Add Fund</button>
</div> -->
