<div class="container">
  <h1 style="text-align: center">
    <strong>{{ fund.name }}</strong>
  </h1>

  <h2>ETF Facts</h2>
  <hr />
  <p>
    Ticker: {{ fund.ticker }}
    <br />
    Asset class: {{ fund.asset_class }}
    <br />
    Risk level: {{ fund.risk_level }}
    <br />
  </p>

  <h2>Pricing</h2>
  <hr />
  <p>
    Expense ratio: {{ fund.expense_ratio }}
    <br />
    Investment min: {{ fund.investment_min }}
    <br />
    Price: {{ fund.price }}
    <br />
    Change price: {{ fund.change_price }}
  </p>

  <button (click)="edit()">Edit Fund</button>
</div>
