<div class="container">
  <h1 style="text-align: center">
    <strong>{{ fund.name }}</strong>
  </h1>

  <h2>S u m m a r y</h2>
  <hr />
  <p>
    <strong>Ticker:</strong> {{ fund.ticker }}
    <br />
    <strong>Asset class:</strong> {{ fund.asset_class }}
    <br />
    <strong>Risk level:</strong> {{ fund.risk_level }}
    <br />
  </p>

  <h2>P r i c i n g</h2>
  <hr />
  <p>
    <strong>Expense ratio:</strong> {{ fund.expense_ratio }}%
    <br />
    <strong>Investment min:</strong> {{ fund.investment_min }}
    <br />
    <strong>Price:</strong> ${{ fund.price }}
    <br />
    <strong>Change price:</strong> {{ fund.change_price }}
  </p>
  <button (click)="edit()" mat-button color="grey">
    <i class="fas fa-edit"></i>
  </button>
</div>
