<div class="container">
  Name:
  <h1>{{ fund.name }}</h1>

  <p>
    Ticker: {{ fund.ticker }}
    <br />
    Asset class: {{ fund.asset_class }}
    <br />
    Risk level: {{ fund.risk_level }}
    <br />
    Expense ratio: {{ fund.expense_ratio }}
    <br />
    Investment min: {{ fund.investment_min }}
    <br />
    Price: {{ fund.price }}
    <br />
    Change price: {{ fund.change_price }}
    <br />
    Summary: {{ fund.summary }}
  </p>

  <button (click)="edit()">Edit Fund</button>
</div>
