<div class="container">
  <h1>Click to edit</h1>

  <div *ngFor="let fund of tempFundList; let i = index">
    <div (click)="makeEditable(i)" *ngIf="fund[2] == false">
      <strong>{{
        fund[0].charAt(0).toUpperCase() + fund[0].slice(1).replace("_", " ")
      }}</strong>
      :
      {{ fund[1] }}
    </div>

    <div *ngIf="fund[2] == true && fund[0] !== 'summary'">
      {{ fund[0].charAt(0).toUpperCase() + fund[0].slice(1) }} :
      <input (blur)="makeStatic(i)" [(ngModel)]="fund[1]" />
    </div>
    <div *ngIf="fund[2] == true && fund[0] == 'summary'">
      {{ fund[0].charAt(0).toUpperCase() + fund[0].slice(1) }} :
      <textarea (blur)="makeStatic(i)" [(ngModel)]="fund[1]"></textarea>
    </div>
    <hr />
  </div>
  <button (click)="update()">update</button>
</div>
