.container {
  background-color: grey;
  // width: 300px;
  // border-radius: 3px;
  // box-shadow: 2px 2px 2px black;
}

.card-body {
  border-color: black;
}

a {
  color: black;
  text-decoration: none;
}
