<div class="container">
  <div class="title">
    <h1><strong>Vanguard ETF Funds</strong></h1>
  </div>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" color="grey" (click)="add()">
      <i class="fas fa-plus"></i> Add
    </button>
  </mat-dialog-actions>
  <hr />

  <table mat-table [dataSource]="funds" class="mat-elevation-z8 demo-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let fund">
        {{ fund.name }}
      </td>
    </ng-container>

    <!-- Ticker Column -->
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Ticker</th>
      <td mat-cell *matCellDef="let fund">{{ fund.ticker }}</td>
    </ng-container>

    <!-- Asset Class Column -->
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef>Asset Class</th>
      <td mat-cell *matCellDef="let fund">{{ fund.asset_class }}</td>
    </ng-container>

    <!-- Expense Ratio Column -->
    <ng-container matColumnDef="expense">
      <th mat-header-cell *matHeaderCellDef>Expense Ratio</th>
      <td mat-cell *matCellDef="let fund">{{ fund.expense_ratio }}%</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let fund">${{ fund.price }}</td>
    </ng-container>

    <!-- Risk Level Column -->
    <ng-container matColumnDef="risk_level">
      <th mat-header-cell *matHeaderCellDef>Risk</th>
      <td mat-cell *matCellDef="let fund">
        {{ fund.risk_level }}
      </td>
    </ng-container>

    <!-- Edit/Delete Buttons -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let fund">
        <button (click)="edit(fund.id)" mat-button color="grey">
          <i class="fas fa-edit"></i>
        </button>
        <button (click)="delete(fund)" mat-button color="red">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
