.container {
  background-color: grey;
  // width: 300px;
  // border-radius: 3px;
  // box-shadow: 2px 2px 2px black;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-body {
  border-color: black;
}

a {
  color: black;
  text-decoration: none;
}

.demo-table {
  width: 100%;
  background-color: grey;
}

.mat-column-name {
  width: 444px;
  border-right: 1px solid currentColor;
  padding-right: 54px;
  text-align: center;
  flex-wrap: nowrap;
  font-size: 20px;
}

.mat-column-ticker {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-asset {
  padding-left: 16px;
  font-size: 18px;
  text-align: center;
}

.mat-column-expense {
  padding-left: 2px;
  font-size: 18px;
  text-align: center;
}

.mat-column-price {
  padding-left: 12px;
  font-size: 20px;
  text-align: center;
}

.mat-column-risk_level {
  width: 175px;
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 20px;
  flex-wrap: nowrap;
}
